<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.hongjian.inventory.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="tech.hongjian.inventory.entity.Menu">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="sort" property="sort" />
        <result column="icon_class" property="iconClass" />
        <result column="parent_id" property="parentId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, url, sort, icon_class, parent_id, role_id
    </sql>
    
    <select id="getUserNavMenus" resultMap="BaseResultMap">
        select
        m.*
        from `menu` m
        where m.role_id is null or m.role_id in (
            select 
            r.id
            from `user` u, `role` r, `user_role_rel` rl
            where u.id = #{userId} and u.id = rl.user_id and r.id = rl.role_id
        ) 
        order by m.sort_id
    </select>

</mapper>
